:root {
  --black: #0d0a19;
  --blackLight: #474450;
  --orange: #ce5508;
  --orange-light: #ffdad2;
  --green-light: #dcf1d7;
  --green: #568d49;
  --grayDark: #9a9ea7;
  --grayLight: #f5f6f7;
  --grayMediumLight: #e4e6e8;
  --grayWater: #c8ccd4;
  --grayDolphin: #6d6a77;
  --beige: #eeece6;
  --error-color: #ff8181;
  --extra-letter-color: #914a4a;
  --valid: #6cb75a;
  --neonBlue: #3abdd5;
  --royalBlue: #5fc8db;
  --marineBlue: #2aa1b7;
  --grayBlue: #334580;
  --grayBlueDark: #293766;
  --gold: #fc0;
  --background-color-skeleton: #e7e7e7;
  --background-color-skeleton-gradient: #fff;
}

:root {
  // colors
  --body-color: #d0c9d6;
  --bg-color: #3f3356;
  --text-color: #1a051d;
  --name-color: #d0c9d6;
  // transitions
  --base-tr: 0.3s linear;
  --fast-tr: 0.1s linear;
  // visual styles
  --base-b-radius: 5px;
}

#app.dark {
  // colors
  --body-color: #1a051d;
  --bg-color: #3f3356;
  --text-color: #d0c9d6;
}
