@mixin defaultStyleTitle {
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.1px;
  color: var(--text-color);
  transition: var(--fast-tr);
}

@mixin h1 {
  @include defaultStyleTitle;

  font-size: 36px;
  line-height: 48px;
}

@mixin text {
  font-style: normal;
  transition: var(--fast-tr);
  color: var(--text-color);
}

@mixin text_big {
  @include text;

  font-size: 20px;
  line-height: 24px;
}
